#volumeControl {
  position: fixed;
  top: 10px;
  left: 5px;
  z-index: 999;
  width: 100px;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: #ccc;
  outline: none;
}

#volumeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #444;
  cursor: pointer;
  border-radius: 50%;
}

#volumeControl::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #444;
  cursor: pointer;
  border-radius: 50%;
}

body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
}

.wiggle {
  transition: transform 0.3s ease;
}

.wiggle:hover {
  transform: scale(1.05);
}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in;
}

.visible {
  opacity: 1 !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
}

.image-container:hover .overlay {
  opacity: 1;
}

.footer-link {
  flex: 1;
  text-align: center;
}

.mb-custom {
  margin-bottom: 5rem !important;
}

footer {
  background-color: black;
}