#volumeControl {
  position: fixed;
  top: 10px; /* Adjust this value to position the control vertically */
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100px;
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  background: #ccc;
  outline: none;
  border-radius: 2px;
}


#volumeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  /* Changed: increased width */
  height: 10px;
  /* Changed: increased height */
  background: #444;
  cursor: pointer;
  border-radius: 50%;
  background: #fff;
  /* White circle */
  border: .5px solid #ccc;
  /* Grey outline */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Circle shadow over the bar */
}

#volumeControl::-moz-range-thumb {
  width: 10px;
  /* Changed: increased width */
  height: 10px;
  /* Changed: increased height */
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  border: .5px solid #ccc;
  /* Grey outline */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Circle shadow over the bar */

}

body {
  background-color: #646464;
  font-family: Helvetica, Arial, sans-serif;
  color: white !important;
}

.fade-in {
  opacity: 0; 
  transition: opacity 2.3s ease-in;
}

.fade-in-fast {
  opacity: 0;
  transition: opacity .3s ease-in;
}
.visible {
  opacity: 1 !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
}

.image-container.image-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.image-container.image-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  transform: scale(1.05) rotate(1deg);
}

.image-container:hover .overlay {
  opacity: 1;
}

.footer-link {
  flex: 1;
  text-align: center;
}

.mb-custom {
  margin-bottom: 2rem !important;
}

footer {
  background-color: black;
}

.chevron-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevron-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.chevron {
  display: inline-block;
  /* border-top: 15px solid;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent; */
  border-top: 10px solid;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  transform: rotate(180deg);
  animation: bounce 5s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.image-card {
  border-radius: 4%;
  background-color: #f0dfb9;
  box-shadow: 0 4px 6px rgba(0, 0, 16, 0.1);
  transition: box-shadow 0.3s ease;
  overflow: hidden; /* Hide the parts of the image that are outside the container's border */
}

.image-card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 20, 0.15);
}

.hidden {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.visible {
  opacity: 1;
}
